@charset "UTF-8";

@media screen and (min-width:768px) {

    body, html{
        background-image: linear-gradient(#5e3584, #499c9c);
    }
    
    section#login{
        height: 280px;
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
        height: 100%;
    }
}

@media screen and (min-width:992px) {
     
    section#login{
        height: 350px;
        width: 950px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    section#login > div#formulario > p{
    font-size: 1em;
    padding: 10px;
    }
    
    form{
        margin-top: 10px;
    }
}